<!--Creación de base.html, con la estructura básica de "HTML"-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!--Título de Página-->
    <title>SIMULADOR PARA FABRICACIÓN DE PRODUCTOS FARMACÉUTICOS</title>
    <!--Fontawesome-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384- UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <!--Fuente-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <!--CSS-->
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
    <!--Icon-->
    <link rel="icon" type="image/svg+xml" href="{% static 'img/farmaceutica-logo.ico' %}">
</head>
<body id="body">

    <header class="header">
        <div class="navbar__logo">
            <img src="{% static 'img/logo-farma.png' %}" alt="" width="120" height="50">
        </div>
        <nav>
            <ul class="navbar__navegacion">
                <li class="navegacion__item1"><a class="navegacion__link active" href="{% url 'insertar-lab' %}">Inicio</a></li>
                <li class="navegacion__item1"><a class="navegacion__link" href="{% url 'python-shell' %}">Python Shell</a></li> 
                <li class="navegacion__item1"><a class="navegacion__link" href='/admin/'>Login</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="main">
    {% block content %}
    {% endblock content %}
    </main>
    <footer class="footer">
        <div class="footer__varios">
            <div  class="footer__texto">
                <p class="texto__p1">Drilling Final, Módulo 7 | FullStack Phyton |   <span class="texto__p2">"Simulador para Fabricación de Productos Farmacéuticos"</span></p>
            </div>
            <div class="footer__logo">
                <img src="{% static 'img/logo-farma.png' %}" alt="" width="150" height="70">  
            </div>
            <div class="footer__legal">
                <p class="texto__p3">© 2023 | Todos los derechos reservados.</p>
            </div>
            
        </div>
    </footer>
<!--JQuery-->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<!--JavaScript-->
<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
{% block javascripts%}
{% endblock javascripts%}
</body>
</html>